.root {
    -fx-base: #2B2B2B;
    -fx-accent: #3C3F41;
    -fx-default-button: #2B2B2B;
    -fx-focus-color: #395B5D;
    -fx-faint-focus-color: #395B5D22;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
        );
    -fx-focused-mark-color : -fx-focused-text-base-color;
}

.text-input:focused {
    -fx-highlight-text-fill: ladder(
        -fx-highlight-fill,
        -fx-light-text-color 45%,
        -fx-dark-text-color  46%,
        -fx-dark-text-color  59%,
        -fx-mid-text-color   60%
    );
}

.split-pane:horizontal > .split-pane-divider,
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #595B5D;
   -fx-padding: 2px;
}

#tilePane {
    -fx-background-color: black;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
}

.background {
    -fx-control-inner-background: red;
}

.selected-item {
    -fx-background-color: green;
}

/* centering the items on TableView */
#tvClassesDimensions .table-column {
    -fx-alignment: CENTER;
}

/* When the list-cell is selected and focused */
#lvFiles .list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: red, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}


#lvFiles .list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: red;
    -fx-text-fill: -fx-selection-bar-text;
}

#lvFiles .list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: red, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}


/* When the ListView is _not_ focused, we show alternate selection colors */
#lvImageView .list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: red;
    -fx-text-fill: -fx-selection-bar-text;
}

#lvImageView .list-cell:filled:selected:focused:disabled, .list-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

#lvImageView .list-cell:filled:hover {
    -fx-background-color: green;
    -fx-text-fill: -fx-text-inner-color;
}

#lvImageView .list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}

#lvImageView .list-view:horizontal .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected:hover {
    -fx-background-color: linear-gradient(to right, derive(-fx-accent,-7%), derive(-fx-accent,-25%));
}
